<!DOCTYPE html>
<html>

<head>
    <title>MusicDot</title>
    <link rel="stylesheet" href="/Static/static/Css/estilos.css">
    <meta charset="utf-8">
</head>

<body>
    <header>
    <h1>MusicDot</h1>
    <h2>Bem-vindo à MusicDot, seu portal de cursos de música online.</h2>
    <h3> Teste de tag H3</h3> 
    <h4> Teste de tag H3</h4> 
    <h5> Teste de tag H3</h5> 
    <h6> Teste de tag H3</h6> 
    <ul>
        <li>Confira nossas promoções.</li>
        <li>Receba informações sobre nossos lançamentos por email.</li>
        <li>Navegue por todos nossos cursos disponíveis.</li>
        <li>Aprenda sem sair de casa.</li>
        <p>Este é um texto</p>
<p>AMusicDoté a maior escola online de música em todo o mundo.</p>
<p>Nossa matriz fica em Mafra, em Santa Catarina. De lá, saem grande parte das gravações de nossos cursos.</p>
    </ul>
    </header>
</body>
<ol>
       <li>Primeiro item da lista</li>
       <li>Primeiro item da lista</li>
       <li>Primeiro item da lista</li>
</ol>
 
<dl>
  <dt>HTML</dt>
  <dd>HTML é uma linguagem de marcação de texto para páginas   na internet.
  </dd>
</dl>
<br>
<form>
    <input type="text" placeholder="Nome" name="nome"/>
    <input type="email" placeholder="Email" name="email"/>
    <input type="date" name="aniversario"/>
    <input type="tel" placeholder="Celular" name="celular"/>
    <input type="password" placeholder="Senha" name="senha" />
    <button type="submit">Cadastrar</button>
</form>
 
</html>