<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
 
  <body>
   
    <p id="info"></p>
    <script>
        let alunos = [
            { nome: "a", preço: 10.00 },
            { nome: "b", preço: 20.00 },
            { nome: "c", preço: 30.00 },
        ];
       
           document.getElementById("info").innerHTML=(alunos[0].nome + " custa R$ " + alunos[0].preço + "<ul>" + alunos[1].nome + " custa R$ " + alunos[1].preço + "<ul>" + alunos[2].nome + " custa R$ " + alunos[2].preço);
 
           
       
       
   
 
 
    </script>
  </body>
</html>